@import "tailwindcss";

body {
  background: oklch(94.884% 0.01978 103.747);
}

@theme {
  --color-backg: #fbf0d5;
  --color-accent: #ff6666;
  --color-text: #301208;
  --color-primary: #fef9dd;
  --color-secondary: #fdfce5;
}
