@import "tailwindcss";

body {
  background: oklch(97.782% 0.02483 104.464);
}

@theme {
  --color-backg: #fbf0d5;
  --color-accent: #ff6666;
  --color-text: #301208;
  --color-primary: #fef9dd;
  --color-secondary: #fdfce5;
}
