@import "tailwindcss";

@theme {
  --color-backg: #fbf0d5;
  --color-accent: #ff6666;
  --color-text: #301208;
  --color-primary: #fef9dd;
  --color-secondary: #fdfce5;
}

body {
  background: #fbf0d5;
}